body
{
    margin: 0;
    background-color: black;
}

#id-canvas
{
  width: 1000px;
  height: 1000px;
    position: absolute;
    left: 0;
    top: 40px;
    background: url('../assets/background.jpg')
}

.button {
  height: 40px;
  background-color: black;
  color: white;
  font-family: "Courier New";
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

.button:hover {
  border: 2px solid white;
}

button:focus {outline:0;}

.inactive {
  display: none;
}

#score {
  color: white;
  font-family: "Courier New";
  font-size: 25px;
}

#fuel {
  left: 20px;
  position: absolute;
  top: 8px;
  color: greenyellow;
}

#speed {
  left: 175px;
  position: absolute;
  top: 8px;
}

#angle {
  left: 340px;
  position: absolute;
  top: 8px;
}
